<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>Shorty</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Shorty</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="col-md-6 offset-md-3 border rounded p-4" style="margin-top:25px">
        <form method="POST">
          {{  form.hidden_tag() }}
          <div class="form-group">
              {{ form.link.label }}
              {{ form.link(class = "form-control", placeholder = 'Enter link here...') }}
  
          </div>
          {{ form.submit_button (class = 'mt-2')}}
        </form>

        {% if already %}
        <p>This link already exists! Check below:</p>
        {% endif %}
        {% if created_link %}
          <p>Shortened Link: <a href="{{ created_link }}">{{ created_link }}</a></p>
        {% endif %}

        {% if form.link.errors %}
            <ul class="errors">
            {% for error in form.link.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
      </div>
      


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>